<%= simple_form for(@music, @music.musiccomments.build) do %>
<div class="">
  <%=f.input :name, class: "form-control", placeholder: "Please enter your name" %>
</div>

<div class="">
  <%=f.input :body, class: "form-control", label: "Enter Your comments" %>
</div>
<div class="">
  <%= f.input :submit class: "bht1" %>
</div>
<% end %>
