
<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Soundcloud</h1>
			</div>
		</div><!--/.row-->


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Soundcloud dashboard </div>
					<div class="panel-body">
						<div class="col-md-6 col-md-offset-3">
              <div class="infos">



<div onload="window.opener.SC.Connect.popupCallback(window)">
    <b style="width: 100%; text-align: center;">This popup should automatically close in a few seconds<b>
  </div>

</div>
</div>
</div>
</div>
</div>
