
<div class=" banner ">
	<div class="cover">
		<div class="container">
			<div class="col-md-12 cover-qoute">
				<% @banners.each do |banner| %>
				<div class=" col-md-4 col-sm-4 col-xs-4 cimg">
					<%= image_tag banner.thumbnail.url(:medium), class: 'img-responsive img-rounded' %>
				</div>

				<div class="col-md-8 col-sm-6 col-xs-6  ctext">
					<h4 style="color:#fff;">" <%= banner.qoute %> " </p>
					<p style="font-size:16px; marging-left:-40px: margin-top:-30px; color:#fff"> <%=banner.qouter %> </p>
				</div>
				<% end %>
			</div>

		</div>
	</div>
</div>
