<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h4>About Us</h4>
				<% @abouts.each do |about| %>>
				<p><%= about.name %></p>
				  <%= image_tag about.thumbnail.url(:medium), class: "img-responsive" %>
					<div class="bht1">
						<li><%= link_to "Abouts", about %></li>
					</div>
					<% end %>
			</div>
			<div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h4>Latest Tweet</h4>
			<div class="mid-btm">
				<p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="https://zongosoft.org/">https://zongosoft.org/</a>
			</div>

				<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="https://zongosoft.org/">https://zongosoft.org/</a>

			</div>
			<div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h4>Newsletter</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<div class="name">
							<form action="#" method="post">
								<input type="text" placeholder="Your Name" required="">
								<input type="text" placeholder="Your Email" required="">
								<input type="submit" value="Subscribed Now">
							</form>

						</div>

							<div class="clearfix"> </div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="container">
					<p>© 2017 Pourap. All rights reserved | Produced by <a href="http://zongosoft.org/">ZongoSoft</a></p>
				</div>
			</div>
</body>
