<div class="footer">
		<div class="container">

			<div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<% @abouts.each do |a| %>
				<h4>About Me</h4>
				<p><%= raw(a.bio) %>.</p>
				<!--<%= image_tag a.thumbnail.url(:medium), class: 'img-responsive img-rounded' %>-->
			</div>
			<% end %>


			<div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h4>Newsletter</h4>
				<p>Not available at the momment</p>
						<div class="name">
							<form action="#" method="post">
								<input type="text" placeholder="Your Name" required="">
								<input type="text" placeholder="Your Email" required="">
								<input type="submit" value="Subscribed Now">
							</form>

						</div>

							<div class="clearfix"> </div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="container">
					<p>© 2017 Pourap. All rights reserved | Produced by <a href="http://zongogroup.tech/">ZongoGroup</a> By Fortune Jakes</p>
				</div>
			</div>
</body>
