<% @videos.each do |video| %>
<div class="w3ls">
  <div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
     <div class="tc-ch">
      <div class="tch-img">
        <a href="singlepage.html">
        <img src="images/m4.jpg" class="img-responsive" alt=""></a>
      </div>

      <h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
      <h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
        <p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="bht1">
          <a href="singlepage.html">Read More</a>
        </div>
        <div class="soci">
          <ul>
            <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
            <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<% end %>
