<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Projects</h1>
			</div>
		</div><!--/.row-->


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Edit Project</div>
					<div class="panel-body">
						<div class="col-md-6 col-md-offset-3">

              <%= render "form", project: :@project %>


              </div>
              </div>
              </div>
              </div>
              </div>
