<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @homes.each do |home| %>
      <div class="col-md-4">
        <%= image_tag home.thumbnail.url(:medium), class: "img-responsive img-circle" %>
      </div>

      <div class="col-md-8">
        <h4 class="qoute">
          <%=raw(home.picture_name) %>
        </h4>
      </div>
      <% end %>

    </div>
  </div>
</div>
