input {
  box-sizing: border-box;
  font-size: 13px;
  vertical-align: top;
}

.wrapper {
  text-align: center;
  position: relative;
  height: 80px;
  font-size: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search1 {
  padding: 0 30px;
  font-size: 18px;
  width: 60%;
  max-width: 400px;
  height: 80px;
  border: 1px solid #b3b3b3;
  border-radius: 20px 0 0 20px;
}
.top{
  position: relative;
  margin-top: 18%;
}
.submit1 {
  cursor: pointer;
  border: none;
  background: url("http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png") no-repeat center center, #fbd14b;
  background-size: 35px 35px;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  width: 150px;
  height: 80px;
}
@media (max-width:500px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    margin-top: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 140px
  }
  .submit1 {
    height: 40px;
    width: 120px
  }
}
@media (max-width:450px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    margin-top: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 120px
  }
  .submit1 {
    height: 40px;
    width: 100px
  }
}
@media (max-width:414px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 80px
  }
  .submit1 {
    height: 40px;
    width: 50px
  }
}
@media (max-width:400px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 80px
  }
  .submit1 {
    height: 40px;
    width: 50px
  }
}
@media (max-width:380px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    margin-top: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 80px
  }
  .submit1 {
    height: 40px;
    width: 50px
  }
}
@media (max-width:375px) {
  .wrapper{
    height: 40px;
    position: relative;
    top: 80%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  .search1{
    height: 40px;
    width: 80px
  }
  .submit1 {
    height: 40px;
    width: 50px
  }
}
